# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/

# Ignore the .env file containing sensitive information
.env

# Ignore VSCode configuration files
.vscode/

# Ignore log files
*.log
